html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
}
  .title {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  transition: all 1s ease-in-out;
  margin-top: 40px;
  background-color: blue;
  border-radius: 10px;
  margin-bottom: calc(30vh - 10px);
}
h1, h2 {
  padding-top: 10px;
color: white;
text-align: center;
}
.zapisatsa {
transition: all 1s ease-in-out;
border-radius: 20px;
background-color: blue;
height: 45px;
}
li, ol {
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 45px;
  list-style-type: none;
}
a {
  transition: all 1s ease-in-out;
  font-size: 35px;
  color: white;
}
a:hover {
  color: rgb(0, 255, 0);
}
.title:hover {
  transition: all 1s ease-in-out;
  border-radius: 20px;
}
.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  display: flex;
  border-radius: 10px;
}
.image_text {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image {
  display: flex;
  border-radius: 10px;
  height: 700px;
  width: 700px;
  flex-grow: 0;
  flex-shrink: 0;
}
.image_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}
.text {
  flex-shrink: 0;
  width: calc(40% - 20px);
  align-items: center;
  justify-content: center;
  display: flex;
font-size: 60px;
text-align: center;
color: white;
}
.pity {
background: blue;
}
.or_image {
  background: url("../img/or.jpg") no-repeat center top;
  background-size: cover;
}
.or1_image {
  background: url("../img/or1.jpeg") no-repeat center top;
  background-size: cover;
}
.trening_image {
  background: url("../img/trening.png") no-repeat center top;
  background-size: cover;
}
.prof_section {
  background: blue;
}
.prof_image {
  background: url("../img/teatcher.jpeg") no-repeat center top;
  background-size: cover;
}
.section_love {
  background: blue;
}
.love_image {
  background: url("../img/love.jpg") no-repeat center top;
  background-size: cover;
}
.section_client {
  background: blue;
}
.client_image {
  background: url("../img/5_star.jpg") no-repeat center top;
  background-size: cover;
}
.reviews_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: solid 5px rgb(213, 213, 213);
  border-radius: 20px;
    box-shadow: 20px 20px 20px 20px rgba(34, 60, 80, 0.5);
}
.reviews {
  display: flex;
        }
        .reviews_title {
          margin: 0;
        }
        .reviews_title_title {
          font-size: 40px;
          border-bottom: : solid 5px rgb(213, 213, 213);
        }
        .review {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          border: solid 2px rgb(213, 213, 213);
          width: 33%;
        }
        .review_name {
          display: flex;
          justify-content: center;
        }
        .review_name_name {
          border: solid 2px rgb(213, 213, 213);
          font-size: 30px;
        }
        .review_text {
          border-top: solid 5px rgb(213, 213, 213);
          font-size: 20px;
        }
        .order {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background-color: rgba(0, 0, 255, 0.3);
          border: solid 3px gray;
          height: 250px;
          width: 90%;
        }
        .order_div {
          margin-top: 30px;
          display: flex;
          justify-content: center;
        }
        .forma {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 70%;
          height: 120px;
          border: solid 3px gray;
          border-radius: 5px;
        }
        .forma_order {
          font-size: 20px;
        }
