html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
}
  .title {
  transition: all 1s ease-in-out;
  margin-top: 40px;
  background-color: blue;
  border-radius: 10px;
  background-color: blue;
  height: 200px;
  width: 100%;
h1, h2 {
  padding-top: 10px;
color: white;
text-align: center;
}
.sub, a {
  text-align: center;
  list-style-type: none;
  color: white;
  font-size: 30px;
  transition: all 1s ease-in-out;
}
a:hover {
  transition: all 1s ease-in-out;
  color: rgb(0, 255, 0);
  font-size: 35px;
}
}
.title:hover {
  transition: all 1s ease-in-out;
  border-radius: 20px;
}
.section {
  margin-top: 20px;
  border-radius: 20px;
}
.pity {
  background-color: rgba(0, 0, 233, 0.7);
}
.prof_section {
  background-color: rgba(7, 206, 224, 0.7);
}
.love {
  background-color: rgba(134, 7, 224, 0.7);
}
.review_section {
  background-color: rgba(7, 224, 204, 0.7);
}
.prof {
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 20vh;
  height: 100vh;
  width: 60%;
  background-size: cover;
  background-image:linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/teatcher.jpeg");
}
  .prof_text {
    padding-top: calc(25% + 60px);
    text-align: center;
    font-size: 60px;
    color: white;
  }
.otbor {
  margin-top: 40vh;
  margin-left: 20px;
  border-radius: 10px;
  height: 100vh;
  width: 60%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/love.jpg");
}
  .ts {
    padding-top: calc(25% + 50px);
    color: white;
    text-align: center;
    font-size: 50px;
  }
  .or {
    border-radius: 10px;
    margin-top: 40vh;
    margin-left: 20px;
    height: 100vh;
    width: 60%;
    background-size: 100% 100%;
    background-image:linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/or.jpg");
  }
  .or_text {
    padding-top: calc(25% + 60px);
    text-align: center;
    font-size: 60px;
    color: white
  }
  .or1 {
    border-radius: 10px;
    margin-top: 40vh;
    margin-left: 20px;
    height: 100vh;
    width: 60%;
    background-size: 100% 100%;
    background-image:linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/or1.jpeg");
  }
    .or1_text {
      padding-top: calc(25% + 60px);
      text-align: center;
      font-size: 60px;
      color: white;
    }
    .trening {
      border-radius: 10px;
      margin-top: 40vh;
      margin-left: 20px;
      height: 100vh;
      width: 60%;
      background-size: cover;
      background-image:linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/trening.png");
    }
      .trening_text {
        padding-top: calc(25% + 60px);
        text-align: center;
        font-size: 60px;
        color: white;
      }
      .client {
        border-radius: 10px;
        margin-top: 40vh;
        margin-left: 20px;
        height: 100vh;
        width: 60%;
        background-size: 100% 100%;
        background-image:linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url("../img/5_star.jpg");
      }
        .client_text {
          padding-top: calc(25% + 60px);
          text-align: center;
          font-size: 60px;
          color: white;
        }
        .reviews {
          margin-top: 50px;
          border: solid 5px rgb(213, 213, 213);
          border-radius: 20px;
        }
        .reviews_title {
          font-size: 40px;
        }
        .review {
          margin-top: 10px;
          border: solid 2px rgb(213, 213, 213);
        }
        .review_name {
          margin-left: 10px;
          display: inline-block;
          border: solid 2px rgb(213, 213, 213);
          font-size: 30px;
        }
        .review_text {
          margin-left: 20px;
          font-size: 20px;
        }
.order {
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 30px;
  background-color: blue;
  height: 50px;
  width: 80%;
}
  li, a {
    text-align: center;
    list-style-type: none;
    color: white;
    font-size: 30px;
    transition: all 1s ease-in-out;
  }
  a:hover {
    transition: all 1s ease-in-out;
    color: rgb(0, 255, 0);
    font-size: 35px;
}
footer {
  background-color: gray;
  width: 100%;
  height: 50px;
}
