html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
}
  .title {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  transition: all 1s ease-in-out;
  margin-top: 40px;
  background-color: blue;
  border-radius: 10px;
}
h1, h2 {
  padding-top: 10px;
color: white;
text-align: center;
}
.sub, a, .order {
  height: 40px;
  list-style-type: none;
  color: white;
  font-size: 30px;
  transition: all 1s ease-in-out;
}
.zapisatsa {
  justify-content: center;
  height: 45px;
}
li, ol {
  height: 35px;
  vertical-align: middle;
}
a {
  margin-top: 5px;
  vertical-align: middle;
}
a:hover {
  transition: all 1s ease-in-out;
  vertical-align: middle;
  color: rgb(0, 255, 0);
  font-size: 35px;
}
}
.title:hover {
  transition: all 1s ease-in-out;
  border-radius: 20px;
}
.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  margin-top: 40vh;
  width: 100%;
  display: flex;
  border-radius: 10px;
}
.image_text {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image {
  display: flex;
  margin-left: 20px;
  border-radius: 10px;
  height: 100vh;
  width: 60%;
  flex-grow: 0;
  flex-shrink: 0;
}
.image_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}
.text {
  align-items: center;
  display: flex;
font-size: 60px;
text-align: center;
color: white;
}
.pity {
background: blue;
}
.or_image {
  background: url("../img/or.jpg") no-repeat center top;
  background-size: cover;
}
.or1_image {
  background: url("../img/or1.jpeg") no-repeat center top;
  background-size: cover;
}
.trening_image {
  background: url("../img/trening.png") no-repeat center top;
  background-size: cover;
}
.prof_section {
  background: blue;
}
.prof_image {
  background: url("../img/teatcher.jpeg") no-repeat center top;
  background-size: cover;
}
.section_love {
  background: blue;
}
.love_image {
  background: url("../img/love.jpg") no-repeat center top;
  background-size: cover;
}
.section_client {
  background: blue;
}
.client_image {
  background: url("../img/5_star.jpg") no-repeat center top;
  background-size: cover;
}
.reviews {
          margin-top: 50px;
          border: solid 5px rgb(213, 213, 213);
          border-radius: 20px;
        }
        .reviews_title {
          font-size: 40px;
        }
        .review {
          margin-top: 10px;
          border: solid 2px rgb(213, 213, 213);
        }
        .review_name {
          margin-left: 10px;
          display: inline-block;
          border: solid 2px rgb(213, 213, 213);
          font-size: 30px;
        }
        .review_text {
          margin-left: 20px;
          font-size: 20px;
        }
        .order {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin-top: 30px;
          background-color: blue;
          height: 50px;
          width: 90%;
          margin-left: 5%;
        }
          li, a {
            text-align: center;
            list-style-type: none;
            color: white;
            font-size: 30px;
            transition: all 1s ease-in-out;
          }
          a:hover {
            transition: all 1s ease-in-out;
            color: rgb(0, 255, 0);
            font-size: 35px;
        }
